@define-color foreground #eff0f1;
@define-color foreground-inactive #7f8c8d;
@define-color background #232629;
@define-color background-alt #31363b;

* {
    font-family: Mononoki Nerd Font;
    font-size: 13px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    padding-left: 0.7em;
    padding-right: 1em;
    color: #ffffff;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#workspaces button.active {
    background-color: @background-alt;
    border-radius: 3px;
}

#pulseaudio,
#bat,
#tray,
#usage,
#net {
    background-color: @background-alt;
    border-radius: 3px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0.3em;
}

#battery,
#memory,
#language,
#network {
    margin-right: 0.8em;
}
#custom-power {
    background-color: transparent;
    color: #fefcfd;
    font-weight: bold;
    font-size: 12px;
    margin-right: 10px;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}
